{% extends "base.html" %}

{% block title %}GT Helper{% endblock %}

{% block content %}
<style>
    #controls {
        margin-top: 20px;
    }
    .clickable-item {
        padding: 12px 15px;
        margin-bottom: 10px;
        border: 2px solid #ddd;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: #fff;
    }
    .clickable-item:hover {
        background-color: #e9ecef;
        border-color: #3498db;
        transform: translateX(5px);
    }
    .clickable-item.selected {
        background-color: #3498db;;
        color: white;
    }
    .days-text {
        display: block; margin-bottom: 8px; font-weight: bold; color: #333;
    }
    .text-input {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 20px;
        border: 2px solid #ddd;
        border-radius: 6px;
        background-color: #fff;
        font-size: 16px;
        transition: all 0.3s ease;
        box-sizing: border-box;
    }
    .text-input:hover {
        border-color: #007bff;
    }
    .text-input:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
    }
</style>

<div class="content">
    <h2>Exchange orders</h2>
    <div id="result">
        <div id="thinking" class="thinking"></div>        
        <table id="result-table"></table>
    </div>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.3.6/js/dataTables.js"></script>

<script>
    
    $(document).ready(function() {
        $.ajax({
            url: '/fetch-exchange-orders',
            method: 'GET',
            dataType: 'json',
            success: function(response) {
                // console.log(data)

                let table = '<thead><tr>';
                ["Material", "Number on sale", "Your lowest price", "Exchange lowest price", "Total value"].forEach(key => {
                    table += `<th>${key}</th>`;
                });
                table += '</tr></thead><tbody>';
                
                response.forEach(row => {
                    table += '<tr>';
                    Object.values(row).forEach(value => {
                    table += `<td>${value}</td>`;
                    });
                    table += '</tr>';
                });
                table += '</tbody>';
                $('#thinking').hide()
                $('#result-table').dataTable({searching: false, paging: false, info: false})
                $('#result-table').html(table)                           
            },
            error: function(xhr, status, error) {
                // Handle errors
                $('.controls').html('<p style="color: red;">Error loading names: ' + error + '</p>');
                console.error('AJAX Error:', status, error);
            }
        });
    });

</script>

{% endblock %}
